@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-bg-header: #212529;
  --color-txt-primary: #F8F9FA;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}