@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --color-primary: #212529;
  --color-secondary: #f8f9fa;
  --color-category-description: #e9ecef73;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
